@model shanuMVCUserRoles.Models.Pages.PageViewModel
@{
    ViewBag.Title = "About";
}
<!--/product right-->
<script type="text/javascript">
    $(document).ready(function () {

        $.ajax({
            type: "POST",
            url: "/Home/GetPage",
            dataType: "json",
            success: function (response) {
                $("#pageBody").html(response);
            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });
    });
</script>
<div class="tether-target-attached-center">
    <div class="wrapper_top_shop">
        <div id="pageBody"></div>
    </div>
</div>
<!--//product right-->


